.iframeContainer {
  position: relative;
  width: 100%;
  margin: 0;
}

.iframeContent {
  width: 100%;
  padding: 2rem;
  min-height: 0;
}

@media (max-width: 768px) {
  .iframeContent {
    padding: 2rem;
  }
}
